.social-login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github 
            |Continue with Github
    button.social-login--kakotalk
            span
                img(src="https://developers.kakao.com/static/images/pc/product/icon/kakaoTalk.png") 
            |Continue with KakaoTalk